<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
</head>
<body>
    <h3>Listing Details:</h3>
    <ul>
        <li><%= listing.title %></li>
        <li><%= listing.description %></li>
        <li>&#8377;<!-- we used this code &#8377; to add rupees symbol in frony of our price--><%= listing.price.toLocaleString("en-IN") %></li><!-- .toLocaleString("en-IN") is used to convert any number to string format with comma as per Indian Standard example => 12,000-->
        <li><%= listing.location %></li>
        <li><%= listing.country %></li>
 <a href="/listings">← Back to all Listings</a>
    </ul>
    <br>
    <a href="/listings/<%= listing._id %>/edit">Edit this listing </a>
    <br><br>
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
    <button>Delete this listing</button>
    </form>
</body>
</html>